<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<title>NotepadAPP</title>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
</head>
<body>
	<h1>NotepadAPP</h1>


	<p>
		Olá <span th:text="${userFullName}"></span> clique no link para
		redefinir sua senha.
	</p>

	<a th:href="${linkRecover}">Click aqui para criar uma nova senha</a>

	<p>Para sua segurança o link tem válidade de 60 minutos.</p>

	<p>
		<strong>ATENÇÃO</strong> Se você não solicitou a redefinição de senha
		apenas ignore esse email.
	</p>

	<p>Abraços! equipe NotepadAPP</p>
</body>
</html>